.info-section {
  padding: 20px;
  min-height: 100%;
  display: grid;
}
.top-level {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1;
  position: relative;
}

.top-level > h1 {
  font-size: 4em;
  position: absolute;
  font-weight: 500;
  letter-spacing: 8px;
  z-index: 1;
  top: 15%;
  overflow: hidden;
  position: relative;
  line-height: 1.5;
}

.top-level > h1::after {
  content: "";
  position: absolute;

  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--secondary-color);
  left: 0;
  animation: typing 2s steps(10) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 35px 0 35px;
  }
}

.top-level > h3 {
  font-size: 20px;
  position: relative;
  top: 10%;
  bottom: 20px;
  font-size: 2em;
  font-weight: 300;
}

.top-level > h4 {
  font-size: 18px;
  font-weight: 300;

  padding: 10px;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  box-shadow: 5px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    11.9px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.4px 12.6px 10px rgba(0, 0, 0, 0.035),
    40px 22.6px 17.9px rgba(0, 0, 0, 0.042),
    74.8px 42.2px 33.4px rgba(0, 0, 0, 0.05),
    179px 101px 80px rgba(0, 0, 0, 0.07);
  width: fit-content;
  margin-top: 20px;
}

.info-section > p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  font-weight: 300;
  height: fit-content;
}
.call-action {
  width: fit-content;
  height: fit-content;
  background-color: var(--tertiary-color);
  padding: 5px 40px;
  border: none;
  color: var(--secondary-color);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.social-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
  width: 50%;
  cursor: pointer;
}
.icon {
  background-color: var(--tertiary-color);
  border-radius: 50%;
  padding: 10px;
}
