#projects {
  background-color: var(--primary-color);
}

#projects > h2 {
  font-size: 30px;
  padding: 15px;
  text-align: center;
  color: var(--secondary-color);
  position: relative;
}

#projects > h2::after {
  content: "";
  width: 8%;
  position: absolute;
  top: 50%;
  left: 55%;
  background-color: var(--tertiary-color);
  height: 5px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  height: 450px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 1.6px 2.8px 2.2px rgba(236, 12, 12, 0.02),
    3.9px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    7.4px 12.5px 10px rgba(0, 0, 0, 0.035),
    13.2px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    24.6px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    59px 100px 80px rgba(0, 0, 0, 0.07);
  transition: transform 250ms 0.3s linear;
  cursor: pointer;
  background-color: var(--secondary-color);
}

.img{
  position: relative;
}
.img > img {
  max-width: 100%;
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}
.img::after {
  content: "";
  position: absolute;
  z-index: 1000;
  background-color: red;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.78) 100%
  );
  height: 300px;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card > p {
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
}
.primary-actions-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.primary-actions-btn > button {
  padding: 4px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}
