.image-section {
  /* margin-top: 40px; */
  width: 400px;
  /* height: 100vh; */
  display: flex;
  border-radius: 15px;
  /* border: 1px solid var(--primary-color); */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image-section > img {
  display: block;
  max-width: 100%;

  height: inherit;
  border-radius: 20px 20px 0px 0px;
}

.brief-intro {
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 0px 0px 15px 15px;
}

.brief-intro > p {
  font-weight: 300;
  line-height: 1.2;
  color: var(--primary-color);
}

.action-btns {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-btns > button {
  padding: 8px 40px;
  border: none;
  background-color: var(--tertiary-color);
  border-radius: 8px;
  font-size: 16px;
}

.action-btns > button > a {
  text-decoration: none;
  color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
  .image-section {
    display: none;
    
  }
}
