@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;900&display=swap");
:root {
  --primary-color: #101d42;
  --secondary-color: #f5fffa;
  --tertiary-color: #fb5012;
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

html,
body {
  scroll-behavior: smooth;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  background-color: var(--secondary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: block;
  width: 100%;
}
