.nav > ul > li {
  list-style: none;
}
.nav {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  background-color: var(--primary-color);
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0px;
  border: 1px solid red;
}
.nav > ul {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-self: flex-end;
}

.nav > ul > li > a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
}

.nav ul > li > a:hover {
  color: var(--tertiary-color);
}
.nav ul > li > a:active {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: none;
  }
}
