.nav > ul > li {
  list-style: none;
  /* transform: rotate(90deg); */
}
.nav {
  /* height: 100%; */
  /* display: flex; */
  /* align-items: flex-end;
  flex-direction: column; */
  /* position: fixed;
  top: 0px;
  right: 0; */
  /* 
  border-left: 1px solid var(--secondary-color);
  width: 150px; */
  display: flex;
  justify-content: flex-end;
  background-color: var(--primary-color);
  height: 80px;
  width: 100%;
}
.nav > ul {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;

  justify-content: space-evenly;
}

.nav > ul > li > a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
}

.nav ul > li > a:hover {
  color: var(--tertiary-color);
}
.nav ul > li > a:active {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: none;
  }
}
